*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main-heading{
    padding: 2rem;
    font-size: 5rem;
    color: aliceblue;
    /* box-shadow: 0px 0px 2px grey; */
}

.main{
    width: 100%;
    height: 100vh;
    background-color: rgb(16, 143, 216);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.row{
    display: flex;
    /* width: 1000px; */
    /* border: 2px solid black; */
    justify-content: center; /*horizonatlly arrange*/
    text-align: center;/*vertically arrange*/
    margin: 10px;
    font-size: 40px;
    color: aliceblue;
    flex-direction: column;
}
#search{
    font-size: 25px;
    padding: 10px;
    border-radius: 25px;
    border: none;
    outline:none;
    box-shadow: 0px 0px 5px grey;
}
@media (max-width: 1040px) {
    .main{
        background-color: rgb(16, 143, 216);
        justify-content: center;
        align-items: center;
    }
    .main-heading{
        text-align: center;
    }
}